@import "variable.scss";

.home{
  //width:900px;
  //height:600px;
 .left{
   li.ant-menu-item{
     selectable:false;
   }
    .anticon{
      font-size: 25px;
      color:#fff;
      text-align: center;
    }
 }
}