body {
  background-color: #eee !important; }

.anticon {
  cursor: pointer; }

.backTitle {
  padding-top: 4px;
  font-weight: 600; }

.title {
  margin-top: 11px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-weight: 600; }
