@import "variable.scss";

.distribute{
  margin-top: 15px;
  margin-left: 15px;
  .yesterday{
    margin-top: 20px;
    .name:hover{
      color: #0599ff;
    }
  }
}
.button{
  border:0;
  font-weight: 600;
  padding:0 0;
}